<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Admin, </h1>
    <p>
      Contato recebido através do formulário no site:
    </p>
    <p>Nome: <%= @contato.nome %></p>
    <p>Email: <%= @contato.email %></p>
    <p>Mensagem: <%= @contato.mensagem %> </p>
    <p>Obrigado!</p>
  </body>
</html>
 
